.testimonials {
    display: flex;
    gap: 16px;
    padding: 0 32px;
}

.left-t {
    display: flex;
    flex: 1 1;
    gap: 32px;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}

.left-t>:nth-child(1) {
    color: var(--orange);
    font-weight: bold;
}

.left-t>:nth-child(2), .left-t>:nth-child(3) {
    font-weight: bold;
    font-size: 48px;
}

.left-t>:nth-child(4) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.right-t {
    position: relative;
    flex: 1;
}

.right-t>img {
    position: absolute;
    width: 272px;
    height: 320px;
    object-fit: cover;
    right: 128px;
    top: 32px;
}

.right-t>:nth-child(1) {
    position: absolute;
    width: 272px;
    height: 320px;
    border: 2px solid orange;
    background-color: transparent;
    right: 144px;
    top: 14px;
}

.right-t>:nth-child(2) {
    position: absolute;
    width: 272px;
    height: 320px;
    background: var(--planCard);
    top: 64px;
    right: 110px;
}

.arrows {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 32px;
    left: 48px;
}

.arrows>img {
    width: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .testimonials {
        flex-direction: column;
    }

    .left-t>:nth-child(2), .left-t>:nth-child(2) {
        font-size: xx-large;
    }

    .right-t {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .right-t>div {
        position: relative;
        display: none;
    }

    .right-t>img {
        top: 0;
        right: 0;
        position: relative;
        align-self: center;
    }

    .right-t>:last-child {
        display: block;
        bottom: 0;
        left: 0;
    }
}